<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Лабороторная работа 4</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" style="color:pink;"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sub">Абоненты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tariff">Тарифы</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/town">Города</a>
      </li>
    </ul>
      <h4 class="text-white mr-3">{{ login }}</h4>
      <a href="logout"><button type="button" class="btn btn-light">Разлогинься</button></a>
  </div>
</nav>
	<div class="content text-center">
        <h4 class="text-center">Add new tariff</h4>
         <div class="col-md-4 my-4 border border-white rounded container text-center" id="main">

    <div class="container text-center">
        <form class='form' method="post" action="/sub/new">
            <div class="form-group">
            <label for="id">id</label>
            <input type="number" class="form-control" id="id" placeholder="id" name="id">
                </div>
            <div class="form-group">
            <label for="title">full_name</label>
            <input type="text" class="form-control" id="full_name" placeholder="full_name" name="full_name">
                </div>
            <div class="form-group">
            <label for="town">town</label>
           <select name="town">
               {% for town in towns %}
                <option value={{ town.id }}>{{ town.title }}</option>
               {% endfor %}
            </select>
                </div>
            <div class="form-group">
            <label for="description">tariff</label>
            <select name="tariff">
               {% for tariff in tariffs %}
                <option value={{ tariff.id }}>{{ tariff.title }}</option>
               {% endfor %}
            </select>
            </div>
             <input type=submit class='btn btn-success' value='Добавить'>
        </form>
    </div>
         </div>
    </div>

  <thead>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" id ="error_insert">
  <div class="toast-header">
    <strong class="mr-auto">ADMIN</strong>
    <small>Когда то давно</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Что то не так проверьте данные или попробуйте позже
  </div>
</div>
</body>
{% if insert_false %}
<script>
    $('#error_insert').toast('show')
</script>
{% endif %}
</html>